# github-homepage
github-homepage/node_modules
github-homepage/dist

# paypal-backend-api
paypal-backend-api/node_modules
paypal-backend-api/.next
paypal-backend-api/.env

# psp-path-dashboard
psp-path-dashboard/node_modules
psp-path-dashboard/dist

node_modules

# paypal-mobile Android test app
paypal-mobile/andriod-test/.gradle
paypal-mobile/andriod-test/.idea
paypal-mobile/andriod-test/local.properties
paypal-mobile/andriod-test/build
paypal-mobile/andriod-test/app/build

pnpm-lock.yaml

# superpowers
.superpowers
enhance-context-page
docs/superpowers

# macOS
.DS_Store
